<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-3">
      <div class="panel panel-info">
        <div class="panel-heading">
          <h3 class="panel-title">테스트 선택</h3>
        </div>
        <div class="panel-body">
          <div class="list-group">
            <a href="#" ng-click="selectTest(item)" class="list-group-item" ng-repeat="item in testItems">{{item.name}}</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="panel panel-info">
        <div class="panel-heading">
          <h3 class="panel-title">테스트 옵션 설정</h3>
        </div>
        <div class="panel-body">
          <form action="" class="form-horizontal">
            <div class="form-group">
              <label for="" class="col-md-3 control-label">Host</label>
              <div class="col-md-9">
                <input type="text" class="form-control input-sm" ng-model="currentTest.param.host"/>
              </div>
            </div>
            <div class="form-group" ng-repeat="(key, val) in currentTest.param">
              <div ng-if="key != 'deviceIdType'">
                <label for="" class="col-md-3 control-label">{{key}}</label>
                <div class="col-md-9">
                  <input type="text" class="form-control input-sm" ng-model="currentTest.param.{{key}}" ng-value=""/>
                </div>
              </div>
              <div ng-if="key == 'deviceIdType'">
                <label for="" class="col-md-3 control-label">{{key}}</label>
                <div class="col-md-9">
                  <label for="" class="checkbox-inline">
                    <input type="radio" ng-model="currentTest.param.deviceIdType" value="uuid"/> uuid
                  </label>
                  <label for="" class="checkbox-inline">
                    <input type="radio" ng-model="currentTest.param.deviceIdType" value="mac"/> mac
                  </label>
                </div>
              </div>
            </div>

            <div class="form-group">
              <div class="col-md-12">
                <button class="btn btn-primary btn-block" ng-disabled="currentTest == null">Run</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="panel panel-success">
        <div class="panel-heading">
          <h3 class="panel-title">테스트 결과</h3>
        </div>
        <div class="panel-body" style="height: 500px; overflow-y: scroll">

        </div>
      </div>
    </div>
  </div>
</div>

<footer class="footer">
  <div class="container">
      <p>Angular Fullstack v2.0.13 |
        <a href="https://twitter.com/tyhenkel">@tyhenkel</a> |
         <a href="https://github.com/DaftMonk/generator-angular-fullstack/issues?state=open">Issues</a></p>
  </div>
</footer>
